In [2]:
# imports 
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report
from sklearn.preprocessing import LabelEncoder

In [3]:
# read in data
bos_crime_2023 = pd.read_csv('data/Bos_crime_2023.csv')
bos_crime_2023.head()

,_id,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
0,1,232006462,1107,NaN,FRAUD - IMPERSONATION,E13,574,0,2023-01-01 00:00:00+00,2023,1,Sunday,0,NaN,WASHINGTON ST,42.309718,-71.104295,"(42.30971815419562, -71.10429497557632)"
1,2,232000093,1402,NaN,VANDALISM,C6,200,0,2023-01-01 00:01:00+00,2023,1,Sunday,0,NaN,W BROADWAY,42.341287,-71.054680,"(42.34128702104515, -71.05467980204799)"
2,3,232003336,3115,NaN,INVESTIGATE PERSON,B3,466,0,2023-01-13 14:00:00+00,2023,1,Friday,14,NaN,DEERING ROAD,NaN,NaN,NaN
3,4,232011306,3115,NaN,INVESTIGATE PERSON,B2,282,0,2023-02-11 00:00:00+00,2023,2,Saturday,0,NaN,WASHINGTON STREET,NaN,NaN,NaN
4,5,232000104,3831,NaN,M/V - LEAVING SCENE - PROPERTY DAMAGE,E13,579,0,2023-01-01 00:00:00+00,2023,1,Sunday,0,NaN,ESTRELLA ST,42.322432,-71.102849,"(42.322431629155794, -71.10284879123009)"

In [5]:
# create a new df
crime_count_df = bos_crime_2023
# remove time from the date column
crime_count_df['OCCURRED_ON_DATE'] = pd.to_datetime(crime_count_df['OCCURRED_ON_DATE']).dt.date

# count how many unique days there are
print(len(crime_count_df['OCCURRED_ON_DATE'].unique()))

# use total rows to devide by unique days
print(len(crime_count_df)/len(crime_count_df['OCCURRED_ON_DATE'].unique()))

# create a new df remove all rows with 0 in SHOOTING column
no_gun_df = crime_count_df[crime_count_df['SHOOTING'] != 0]

# no_gun_df.head()

print(len(no_gun_df)/len(crime_count_df['OCCURRED_ON_DATE'].unique()))

385
210.73506493506494
1.7012987012987013

In [6]:
# round to no decimal places
print(round(len(crime_count_df)/len(crime_count_df['OCCURRED_ON_DATE'].unique())))
print(round(len(no_gun_df)/len(crime_count_df['OCCURRED_ON_DATE'].unique())))

211
2