In [21]:
# imports
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

# inport label encoder

from sklearn.preprocessing import LabelEncoder

In [22]:
# read in train,test, and val data
train = pd.read_csv('../data/processed/train_data.csv')
test = pd.read_csv('../data/processed/test_data.csv')
val = pd.read_csv('../data/processed/val_data.csv')

In [23]:
# show all column names in train data
print(train.columns)

Index(['_id', 'OFFENSE_CODE', 'OFFENSE_DESCRIPTION', 'DISTRICT',
       'REPORTING_AREA', 'SHOOTING', 'OCCURRED_ON_DATE', 'YEAR', 'MONTH',
       'DAY_OF_WEEK', 'HOUR', 'STREET', 'Severe_crimes'],
      dtype='object')

In [24]:
# find the number of missing values in each column
print(train.isnull().sum())
# find the number of blank values in each column
print(train.isna().sum())

_id                    0
OFFENSE_CODE           0
OFFENSE_DESCRIPTION    0
DISTRICT               0
REPORTING_AREA         0
SHOOTING               0
OCCURRED_ON_DATE       0
YEAR                   0
MONTH                  0
DAY_OF_WEEK            0
HOUR                   0
STREET                 0
Severe_crimes          0
dtype: int64
_id                    0
OFFENSE_CODE           0
OFFENSE_DESCRIPTION    0
DISTRICT               0
REPORTING_AREA         0
SHOOTING               0
OCCURRED_ON_DATE       0
YEAR                   0
MONTH                  0
DAY_OF_WEEK            0
HOUR                   0
STREET                 0
Severe_crimes          0
dtype: int64

In [25]:
# find duplicate rows
print(train.duplicated().sum())

0

In [26]:
# remove id column
train = train.drop(columns=['_id'])
# find duplicate rows
print(train.duplicated().sum())

185

In [27]:
# remove duplicate rows
train = train.drop_duplicates()
# find duplicate rows
print(train.duplicated().sum())

0

In [28]:
train.head()

,OFFENSE_CODE,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,STREET,Severe_crimes
0,520,BURGLARY - RESIDENTIAL,C6,194,0,2023-09-05 08:03:00+00,2023,9,Tuesday,8,DORCHESTER AVE,0
1,3821,M/V ACCIDENT - INVOLVING PEDESTRIAN - NO INJURY,E13,303,0,2023-11-13 18:57:00+00,2023,11,Monday,18,COLUMBUS AVE & AMORY ST\nROXBURY MA 02119\nUN...,0
2,3114,ASSAULT - SIMPLE,E13,912,1,2023-09-11 00:06:00+00,2023,9,Monday,0,CENTRE ST,1
3,3801,M/V ACCIDENT - OTHER,D4,167,0,2023-09-02 10:48:00+00,2023,9,Saturday,10,HARRISON AVE,0
4,3502,MISSING PERSON - LOCATED,E5,691,0,2023-04-27 13:30:00+00,2023,4,Thursday,13,CENTRE ST,0

In [29]:
# remove columns that are not needed 

# remove REPORTING_AREA, SHOOTING
train = train.drop(columns=['REPORTING_AREA', 'SHOOTING'])
train.head()

,OFFENSE_CODE,OFFENSE_DESCRIPTION,DISTRICT,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,STREET,Severe_crimes
0,520,BURGLARY - RESIDENTIAL,C6,2023-09-05 08:03:00+00,2023,9,Tuesday,8,DORCHESTER AVE,0
1,3821,M/V ACCIDENT - INVOLVING PEDESTRIAN - NO INJURY,E13,2023-11-13 18:57:00+00,2023,11,Monday,18,COLUMBUS AVE & AMORY ST\nROXBURY MA 02119\nUN...,0
2,3114,ASSAULT - SIMPLE,E13,2023-09-11 00:06:00+00,2023,9,Monday,0,CENTRE ST,1
3,3801,M/V ACCIDENT - OTHER,D4,2023-09-02 10:48:00+00,2023,9,Saturday,10,HARRISON AVE,0
4,3502,MISSING PERSON - LOCATED,E5,2023-04-27 13:30:00+00,2023,4,Thursday,13,CENTRE ST,0

In [30]:
# remove YEAR since its all 2023
train = train.drop(columns=['YEAR'])

In [31]:
# check the data types of each column
train.dtypes

OFFENSE_CODE            int64
OFFENSE_DESCRIPTION    object
DISTRICT               object
OCCURRED_ON_DATE       object
MONTH                   int64
DAY_OF_WEEK            object
HOUR                    int64
STREET                 object
Severe_crimes           int64
dtype: object

In [32]:
# change OCCURRED_ON_DATE to datetime
train['OCCURRED_ON_DATE'] = pd.to_datetime(train['OCCURRED_ON_DATE'])

In [33]:
# change day of week to numbers monday = 0, sunday = 6
train['DAY_OF_WEEK'] = train['OCCURRED_ON_DATE'].dt.dayofweek
train.head()

# remove year from OCCURRED_ON_DATE
train['OCCURRED_ON_DATE'] = train['OCCURRED_ON_DATE'].dt.strftime('%m-%d')

In [34]:
train.head()

,OFFENSE_CODE,OFFENSE_DESCRIPTION,DISTRICT,OCCURRED_ON_DATE,MONTH,DAY_OF_WEEK,HOUR,STREET,Severe_crimes
0,520,BURGLARY - RESIDENTIAL,C6,09-05,9,1,8,DORCHESTER AVE,0
1,3821,M/V ACCIDENT - INVOLVING PEDESTRIAN - NO INJURY,E13,11-13,11,0,18,COLUMBUS AVE & AMORY ST\nROXBURY MA 02119\nUN...,0
2,3114,ASSAULT - SIMPLE,E13,09-11,9,0,0,CENTRE ST,1
3,3801,M/V ACCIDENT - OTHER,D4,09-02,9,5,10,HARRISON AVE,0
4,3502,MISSING PERSON - LOCATED,E5,04-27,4,3,13,CENTRE ST,0

In [35]:
# Remove spaces in OFFENSE_DESCRIPTION
train['OFFENSE_DESCRIPTION'] = train['OFFENSE_DESCRIPTION'].str.replace(' ', '')
remove = ['-', '(', ')', '/']
for r in remove:
    train['OFFENSE_DESCRIPTION'] = train['OFFENSE_DESCRIPTION'].str.replace(r, '')


    

train.head()

,OFFENSE_CODE,OFFENSE_DESCRIPTION,DISTRICT,OCCURRED_ON_DATE,MONTH,DAY_OF_WEEK,HOUR,STREET,Severe_crimes
0,520,BURGLARYRESIDENTIAL,C6,09-05,9,1,8,DORCHESTER AVE,0
1,3821,MVACCIDENTINVOLVINGPEDESTRIANNOINJURY,E13,11-13,11,0,18,COLUMBUS AVE & AMORY ST\nROXBURY MA 02119\nUN...,0
2,3114,ASSAULTSIMPLE,E13,09-11,9,0,0,CENTRE ST,1
3,3801,MVACCIDENTOTHER,D4,09-02,9,5,10,HARRISON AVE,0
4,3502,MISSINGPERSONLOCATED,E5,04-27,4,3,13,CENTRE ST,0

In [36]:
# do the same for test and val data
test = test.drop(columns=['REPORTING_AREA', 'SHOOTING', 'YEAR'])

val = val.drop(columns=['REPORTING_AREA', 'SHOOTING', 'YEAR'])

# change OCCURRED_ON_DATE to datetime
test['OCCURRED_ON_DATE'] = pd.to_datetime(test['OCCURRED_ON_DATE'])
val['OCCURRED_ON_DATE'] = pd.to_datetime(val['OCCURRED_ON_DATE'])

# change day of week to numbers monday = 0, sunday = 6
test['DAY_OF_WEEK'] = test['OCCURRED_ON_DATE'].dt.dayofweek
val['DAY_OF_WEEK'] = val['OCCURRED_ON_DATE'].dt.dayofweek

# remove year from OCCURRED_ON_DATE
test['OCCURRED_ON_DATE'] = test['OCCURRED_ON_DATE'].dt.strftime('%m-%d')
val['OCCURRED_ON_DATE'] = val['OCCURRED_ON_DATE'].dt.strftime('%m-%d')

# Remove spaces in OFFENSE_DESCRIPTION
test['OFFENSE_DESCRIPTION'] = test['OFFENSE_DESCRIPTION'].str.replace(' ', '')
val['OFFENSE_DESCRIPTION'] = val['OFFENSE_DESCRIPTION'].str.replace(' ', '')

for r in remove:
    test['OFFENSE_DESCRIPTION'] = test['OFFENSE_DESCRIPTION'].str.replace(r, '')
    val['OFFENSE_DESCRIPTION'] = val['OFFENSE_DESCRIPTION'].str.replace(r, '')

# check the data types of each column
train.dtypes

OFFENSE_CODE            int64
OFFENSE_DESCRIPTION    object
DISTRICT               object
OCCURRED_ON_DATE       object
MONTH                   int64
DAY_OF_WEEK             int32
HOUR                    int64
STREET                 object
Severe_crimes           int64
dtype: object

In [37]:
# encode all non-numeric columns
# reset the label encoder
le = LabelEncoder()


# encode OFFENSE_DESCRIPTION
train['OFFENSE_DESCRIPTION'] = le.fit_transform(train['OFFENSE_DESCRIPTION'])

# encode DISTRICT
train['DISTRICT'] = le.fit_transform(train['DISTRICT'])

# encode street
train['STREET'] = le.fit_transform(train['STREET'])

# show the first 5 rows of the train data
train.head()

,OFFENSE_CODE,OFFENSE_DESCRIPTION,DISTRICT,OCCURRED_ON_DATE,MONTH,DAY_OF_WEEK,HOUR,STREET,Severe_crimes
0,520,15,6,09-05,9,1,8,2237,0
1,3821,69,9,11-13,11,0,18,1758,0
2,3114,6,9,09-11,9,0,0,1382,1
3,3801,70,8,09-02,9,5,10,3387,0
4,3502,62,11,04-27,4,3,13,1382,0

In [38]:
train.head()

,OFFENSE_CODE,OFFENSE_DESCRIPTION,DISTRICT,OCCURRED_ON_DATE,MONTH,DAY_OF_WEEK,HOUR,STREET,Severe_crimes
0,520,15,6,09-05,9,1,8,2237,0
1,3821,69,9,11-13,11,0,18,1758,0
2,3114,6,9,09-11,9,0,0,1382,1
3,3801,70,8,09-02,9,5,10,3387,0
4,3502,62,11,04-27,4,3,13,1382,0

In [42]:
# use the same label encoder to encode the test and val data
test['OFFENSE_DESCRIPTION'] = le.transform(test['OFFENSE_DESCRIPTION'])
test['DISTRICT'] = le.transform(test['DISTRICT'])
test['STREET'] = le.transform(test['STREET'])

val['OFFENSE_DESCRIPTION'] = le.transform(val['OFFENSE_DESCRIPTION'])
val['DISTRICT'] = le.transform(val['DISTRICT'])
val['STREET'] = le.transform(val['STREET'])

ValueError: y contains previously unseen labels: 'ASSAULTSIMPLE'

In [39]:
# print label encoder labels for OFFENSE_DESCRIPTION

print(le.classes_)

['11.5 THACHER ST' '13TH ST' '16.2 BREMEN ST' ... 'ZEIGLER STREET'
 'ZELLER ST' 'ZELLER ST & SELWYN ST']

In [40]:
# show number of values in each column
train.nunique()
# show number of 1 and 0 in the Severe_crimes column
train['Severe_crimes'].value_counts()

Severe_crimes
0    57521
1     4171
Name: count, dtype: int64

In [41]:


# save the processed data
train.to_csv('../data/processed/train_data_processed.csv', index=False)
test.to_csv('../data/processed/test_data_processed.csv', index=False)
val.to_csv('../data/processed/val_data_processed.csv', index=False)